<footer>
  <div class="footer-content">
    <p style="text-align: center;">&copy; 2025 RevaAI, Inc. — All rights reserved.</p>
    <p>
      <!-- Add Previous and Next buttons -->
      {% if previous_page %}
        <a href="{{ previous_page.url }}" class="prev">Previous</a>
      {% endif %}
      {% if next_page %}
        <a href="{{ next_page.url }}" class="next">Next</a>
      {% endif %}
    </p>
  </div>
</footer>
<script src="https://giscus.app/client.js"
        data-repo="babasyed07/reva-doc"
        data-repo-id="R_kgDOOlGsaA"
        data-category="General"
        data-category-id="DIC_kwDOOlGsaM4CqIyf"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
